
/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/cursors/cur-11/cur1037.cur), auto !important;} /* End https://www.cursors-4u.com */
@keyframes rotation {
	from { transform: rotate(-1deg); }
	to { transform: rotate(1deg); }
}

@layer base {
  @font-face {
    font-family: 'PC-9900';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./src/fonts/pc-9900-v2.ttf) format('woff2');
  }
}

.post .separator a {margin-left: auto !important; margin-right: auto !important;}
.post img {
  padding: 0;
  border: 2px dotted;
  border-color: #7bd877;
  margin: 5px;
  padding: 5px;
}
.post{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 5px dotted;
  border-color: #7bd877;
  margin: 10px;
  padding: 10px;
  text-align: justify;
  
}

.post h2 {
  font-family: 'PC-9900';
  pointer-events: none;
}

.hotm {
	animation-name: rotation;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
  animation-direction: alternate;
}

li {
  margin: 10px;
}
.image-container {
  position: relative;
  background-color: black;
}

.image-container a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.image-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-container:hover .image-description {
  opacity: 1;
}

.image-description span {
  padding: 10px;
}

.image3D-effect {
    perspective: 1000px;
    max-width: 900px; /* Cambiado a max-width */
    height: 210px;    /* Cambiado a auto */
    overflow: hidden;
    margin: 50px auto;
    position: relative;
}

.image3D-effect img {
    width: 100%;
    height: auto;    /* Cambiado a auto */
    transition: transform 0.1s;
    transform: rotateX(0) rotateY(0);
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes circleMove {
    0% {
        transform: rotateX(10deg) rotateY(0deg);
    }
    25% {
        transform: rotateX(10deg) rotateY(90deg);
    }
    50% {
        transform: rotateX(10deg) rotateY(180deg);
    }
    75% {
        transform: rotateX(10deg) rotateY(270deg);
    }
    100% {
        transform: rotateX(10deg) rotateY(360deg);
    }
}

.image3D-effect img.idle {
    animation: circleMove 10s infinite;
}

/* Contenedor para los botones */
.top-buttons-container {
  position: relative; /* Asegura que los elementos absolutos dentro de este contenedor estén posicionados en relación con él */
  z-index: 1000; /* Un valor alto de z-index para asegurarte de que aparezca encima de otros elementos */
}

/* Botones individuales */
.top-buttons-container button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

@media screen and (max-width: 640px) {
  header {
    font-size: 0.8em; /* Reduce el tamaño del texto */
  }

  nav ul {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra los elementos */
  }

  nav li {
    margin: 0.5em 0; /* Ajusta los márgenes para los elementos de la lista */
  }

  .image-container {
    max-width: 100%; /* Asegúrate de que el contenedor de imágenes no desborde */
    height: auto; /* Altura automática para mantener la proporción */
  }

  /* Oculta elementos decorativos que no se ajustan bien */
  .decorative-border {
    display: none;
  }

  /* Aumenta el tamaño de los botones y enlaces para pantallas táctiles */
  button, a {
    padding: 0.8em; /* Más espacio alrededor del texto */
    font-size: 1em; /* Texto más grande para facilitar la lectura */
  }

  /* Ajustes adicionales que necesites */
}

/* Estilo base para el contenedor de navegación */
.navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none; /* Elimina los estilos de lista predeterminados */
  padding: 0; /* Elimina el padding predeterminado */
}

.navbar li {
  margin: 5px; /* Añade un poco de margen alrededor de los elementos de la lista */
  flex-basis: calc(100% / 8); /* Ajusta esta línea según la cantidad de elementos que quieras en una fila */
}

/* Estilo para dispositivos móviles usando media query */
@media screen and (max-width: 640px) {
  .navbar li {
    flex-basis: 100%; /* Hace que cada elemento de la lista ocupe el ancho completo en dispositivos móviles */
  }
}

/* Opcional: Estilos para un menú de hamburguesa */
.hamburger-menu {
  display: none; /* Oculta por defecto */
}

@media screen and (max-width: 640px) {
  .hamburger-menu {
    display: block; /* Muestra el botón de menú de hamburguesa en dispositivos móviles */
  }
}

